$theme-color: $--color-primary;
$blue: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$default: #909399;
$black: #303133;
$gutter_small: 10px;
$gutter_normal: 15px;
$gutter_big: 20px;
